body {
    background-color: rgb(247, 240, 230);
}

.createOrder {
    width: 800px;
    text-align: center;
    border: solid black 2.5px;
}

.form {
    width: 800px;
    text-align: center;
    margin: 20px;
}

.order {
    width: 800px;
    text-align: center;
}

#crust {
    margin: 5px;
}

#sauce {
    margin: 5px;
}

#top1 {
    margin-top: 5px;
}


#top2 {
    margin-top: 5px;
}


#top3 {
    margin-top: 5px;
}

#btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

form {
    border: solid black 2.5px;

}

#order {
    border: solid black 2.5px;
    padding: 5px;
}